@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1440px;
}
header{
    padding: 10px;
    background-color: #000;
    color: red;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(194, 7, 7);;
    font-size: 18px;
}
.menu-toggle {
    display: none; /* Başlangıçta menü simgesini gizle */
    cursor: pointer;
    font-size: 25px;

}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu li {
    padding: 0 10px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; 
        position: absolute;
        right: 20px;
        top: 10px;

    }
    .menu {
        display: none; 
        flex-direction: column;
        padding: 10px 0;
    }
    .menu.show {
        display: flex; 
        justify-content: center;
        align-items: center;
        background-color: #e3e1e1;
    }
    header{
        height: auto;
    }
}
.slider-header {
    position: relative;
}
.slider-header .slide-head img{
    max-width: 100%;
    width: 100%;
    height: 600px;
}
.slick-slide {
    height: auto;
}

.slide-head {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 40px 50px 60px 50px;
}

.slick-prev {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    border: 1px solid black;
    width: 45px;
    height: 70px;
}

.slick-prev::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    color: white;
}
.slick-next {
    position: absolute;
    z-index: 1000;
    border: 1px solid black;
    width: 45px;
    height: 70px;
}
.slick-next::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
}
.slick-next:hover{
    position: absolute;
    z-index: 1000;
}

.slick-dots li button::before {
     font-size: 15px;
}
.slide-head h1{
    color:#000;
    width: 55%;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10%;
    margin-left: 10%;
}
.slide-head p{
    color: #5e5e5e;
    width: 55%;
    margin-bottom: 30px;
    margin-left: 10%;
}
.slide-head button{
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    color: black;
    margin-left: 10%;
}
.slider-img{
    width: 240px;
}
@media (max-width:768px) {
    .slide-head h1{
        color:#000;
        width: 100%;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10%;
        margin-left: 10px;
    }
    .slide-head p{
        color: #5e5e5e;
        width: 100%;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .slide-head button{
        padding: 10px 15px 10px 15px;
        background-color: transparent;
        color: black;
        margin-left: 10px;
    }
    .slider-img{
        width: 160px;
        margin-top: 10px;
    }
    .offer span img{
        width: 20px;
    }
    .product-btnDiv{
        position: relative;
        top: 1px !important;
    }
}


/* product slider */ 
.slider-products {
    position: relative;
    overflow: hidden;
    margin: 0 auto; 
}

.slider-product {
    display: flex;
    transition: transform 0.5s ease; 
    margin-bottom: 50px;
}
.slider-product .slick-list{
    width: 100%;
    margin-left: 0 !important;
}
.section-slider{
    position: relative;
    top: 40px;
}
.button-product {
    position: relative;
    font-size: 24px;
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
}

.prev-product {
    right: 5px;
}

.next-product {
    right: 10px;
}
.product-title{
    background: linear-gradient(to right, white, rgb(226, 24, 24));
    padding-left: 30px;
}
.product-title h1{
    display: inline-block;
}
.product-btnDiv{
    display: inline-block;
    float: right;
    position: relative;
    top: 8px;
}
.items{
    position: relative;
    width: 250px !important;
    margin: 17px;
}
.item{
    background-color: #f5f5f5;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.items img{
    text-align: center;
}
.item img{
    width: 100%;
}
.items:hover .item-button {
    display: block;
}
.item-textDiv{
    text-align: center;
    line-height: 50%;
}
.item-text{
    color: #a3a3a3;
    margin-top: 20px;
    font-size: 14px;
}

.index-about-img{
    width: 80%;
    max-width: 100%;
    height: 300px;
    margin-left: 10%;
    border-radius: 50%;
}
.index-about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.index-about-text hr{
    border: 2px dotted black;
    text-align: center;
    width: 15%;
    border-radius: 20px;
    margin: 0;
}
.banner img{
    width: 100%;
    max-width: 100%;
}
footer a{
    text-decoration: none;
    color: gray;
}
footer a:hover{
    text-decoration: none;
    color: rgb(194, 7, 7);
}
footer{
    background-color: #000;
    color: gray;
    padding-top: 2%;
    padding-bottom:1px;
    
}
footer h2{
    color: rgb(194, 7, 7);
}
footer hr{
    border: 2px solid #eee;
    border-radius: 10px;
    width: 20%;
}
.copyright{
    width: 100%;
    text-align: center;
    color: rgb(194, 7, 7);
}
.about-head-img img{
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    height: 500px;
}
.section-about img{
    width: 60%;
    max-width: 100%;
    height: 300px;
    margin-left: 5%;
    border-radius: 10px;
}
.section-about .text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-about .text p{
    padding: 0 15% 0 5%;
}
.form-section .btn{
    width: 40%;
    margin-left: 30%;
}
.form-section .btn-submit{
    background-color: #333;
    color: red;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
}
.form-section .btn-submit:hover{
    background-color: red;
    color: #333;
    font-weight: 700;
    letter-spacing: 4px;
}
.project .btn-details{
    background-color: #333;
    color: red;
    font-size: 14px;
}
.project .btn-details:hover{
    background-color: red;
    color: #333;
}
.project img{
    width: 100%;
    max-width: 100%;
    height: 300px;
}
.title-project{
    background-color: #f5f5f5;
    padding: 50px;
    color: black;
    letter-spacing: 4px;
    font-family: monospace;
    text-transform: uppercase;
}
.title-project h1{
    font-weight: bold;
}
.search-div{
    position: relative;
    width: 40%;
}
.search-div .icon-search{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
}
#pagination-container button{
    border: none;
    background-color: #ffff;
}
.img-detail{
    width: 100%;
    max-width: 100%;
    height: 400px;
}
.name-detail{
    text-align: center;
    margin-top: 20px;
}
.text-detail{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 19px;
}
.section-about hr{
    width: 10%;
    margin-left: 45%;
}